
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
    /*NAVBAR LINKS (underline + red)*/
    .navbar .nav-link:hover {
    color: #ff6f5b;
    
    text-decoration-color: #ff6f5b;
    }

    /* SOCIAL ICON HOVER */
    .social-icon {
    transition: 0.3s;
    cursor: pointer;
    }
    .social-icon:hover {
    color: #ff6f5b;
    }

    /*PHONE (red only, NO underline) */
    .topbar-link {
    text-decoration: none;
    transition: 0.3s;
    }
    .topbar-link:hover {
    color: #ff6f5b;
    text-decoration: none;    
    }

    /*  EMAIL (underline + red) */
    .mail-link {
    text-decoration: none;
    transition: 0.3s;
    }
    .mail-link:hover {
    color: #ff6f5b;
    text-decoration: underline;
    text-decoration-color: #ff6f5b;
    }
    .hover-email:hover {
    color: #ff6f5b;
    }

    /* Border rouge à gauche du logo */
    .logo-border {
    position: relative;
    padding-left: 0.5rem; /* espace entre le border et le texte */
    color: #db5050; 
    text-decoration: none;
    transition: color 0.3s;
    }
            /* border */
    .logo-border::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    height: 60%;
    width: 7px; /* épaisseur de la ligne */
    background-color: #ff6f5b; 
    }

    /* ! i just want to fix the hover for dropdown  */
    /* .dropdown-menu > .dropdown-item:hover{
        color: #ff6f5b;

    } */
    /* DROPDOWN ITEMS */
    .dropdown-item:hover {
    color: #5bff61;
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}





/*  &section of client  */
.clients-section{
        text-align: center;
}

#clients-id h2 .border-class
{
    border-bottom: 5px solid  #db5050;
    padding-bottom:15px ;


}

#clients-id h2.border-class {
    border-bottom: 3px solid #db5050;
    padding-bottom: 10px;
    display: inline-block;
}

.images-box   > img{
    width: 10vw;
    height: 10vh;

}


.images-box > img{
    color: #333;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);

}

.images-box > img:hover{
    filter: none;
    opacity: 1;
}



/* & the end of section of client  */

/* this is section carousel home */
.carousel{
    width: 99vw;
    height: 500px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#picture{
    width: 100VW;
    height: 450px;
    transform: scale();
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255, 0.5);
    z-index: 1;
}
.carousel-button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color:#e96b56;
    z-index:2 ;
}
.carousel-button a{
    color:white;
    text-decoration: none;
}
.carousel-caption{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.carousel-caption h2{
    padding-bottom: 30px;
    color: #545454;
}
.carousel-caption p{
    color: #54545475;
    padding-bottom: 20px;
    width: 700px;
}
.carousel-control-prev{
    color: coral;
}
/* fin section carousel */
/* footer */
.footer{
    width: 99vw;
    height: 100vh;
}
.footer-top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}
.footer-input{
    width: 700px;
      position: relative;
      padding-top: 10px;
}
.footer-input:hover button{
    background-color:#e96b56 ;  
    border-color: #e96b56;
}
.input:focus{
    outline: none;
    border-color: #e96b56;
    color: aliceblue;
    padding-left: 20px;
}
.footer-input input{
    width: 90%;
    height: 40px;
    /* border: none; */
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.011);
    background-color: #565656;
}
.footer-input button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #fd7e14;
    color: rgb(255, 255, 255);
    position: absolute;
    right:0px;
}
.footer-top p{
    color: #ffffffe1;
    width: 550px;
    text-align-last:center ;
}
.footer-top h2{
    color:white ;
    padding-bottom: 10px;
}
.footer-bottom{
    width: 100%;
    height: 70%;
    background-color:#3C3C3C;
}
.top-div{
    display: grid;
    grid-template-columns: 1fr 200px 200px 1fr;
    justify-content: center;
    height: 80%;
    padding-top: 25px;
}
.top-div a{
    text-decoration: none;
    color:#ffffffb9;
}
.top-div h4{
    color: #ffffffe0;
}
.left-info p{
    color: #ffffffcd;
}
.left-info h3{
    color: #ffffffdd;
}
.left-info{
    height: 350px;
    padding-top: 70px;
    padding-left: 50px;
}
.left-info p{
    width: 200px;
}
.left-info h3{
    padding-bottom: 30px;
}
.left-links{
height: 350px;
 display: grid;
   grid-template-rows:60px 40px 40px 40px 40px;
   padding-top: 30px;
}
.right-services{
height: 350px;
display: grid;
      grid-template-rows:60px 40px 40px 40px 40px;
      padding-top: 30px;

}
.right{
height: 350px;
padding-top: 30px;
}
.right p{
padding-top: 20px;
color: #FFFFFF;
}
.icon-f{
    display: flex;
    width: 40%;
    justify-content: space-evenly;  
    align-items: center;
}
.icon-f > div a{
    border: 2px #c7c2bf solid;
    border-radius: 50%;
}
.icon-f > div:hover a{
    color: #e96b56;
    border-color: #e96b56;

}.icon-f > div i{
    width: 40px;
    height: 40px;
}
.left-links ,.right-services > div i{
    color: #e96b56;
}
.left-links > div:hover a{
    color: #e96b56;
    transition: 1s ease;
}
.right-services > div:hover a{
    color: #e96b56;
        transition: 1s ease;
}
.copyright{
    width: 100%;
    height:20% ;
    background-color: #3C3C3C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-top: 2px solid rgba(95, 94, 95, 0.612);
    
}
.copyright > p a{
    text-decoration: none;
    color: #e96b56;
}
/* fin footer */




/* *   file about  */



/* section statistiques  */

.stats-section{
    /* background-color: #5bff61; */
    padding: 50px ;
}
.stats-box{
    max-width:1200px ;
    margin : auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.stat-item{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.icon{
    font-size: 40px;
    color: #db5050;
}
.stat-text > h3 {
    font-size: 48px;
    margin: 0;
    font-weight: 700;
    color: #4f4e4e;
}

.stat-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #545353;
}
.stat-text p{
    
    font-size: 15px;
    color: #919191;
}

/*  *  animation  */
.stat-item{
    opacity: 0;
    transform: translate(20px);
    animation: fadeUp 0.8s ease-out forwards;
}
.stat-item:nth-child(1){
    animation-delay: 0.1s;
}
.stat-item:nth-child(2){
    animation-delay: 0.3s;
}
.stat-item:nth-child(3){
    animation-delay: 0.5s;
}
.stat-item:nth-child(4){
    animation-delay: 0.7s;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translatex(0);
    }

}
/* * end animation  */