
    /*NAVBAR LINKS (underline + red)*/
    .navbar .nav-link:hover {
    color: #ff6f5b;
    
    text-decoration-color: #ff6f5b;
    }

    /* SOCIAL ICON HOVER */
    .social-icon {
    transition: 0.3s;
    cursor: pointer;
    }
    .social-icon:hover {
    color: #ff6f5b;
    }

    /*PHONE (red only, NO underline) */
    .topbar-link {
    text-decoration: none;
    transition: 0.3s;
    }
    .topbar-link:hover {
    color: #ff6f5b;
    text-decoration: none;    
    }

    /*  EMAIL (underline + red) */
    .mail-link {
    text-decoration: none;
    transition: 0.3s;
    }
    .mail-link:hover {
    color: #ff6f5b;
    text-decoration: underline;
    text-decoration-color: #ff6f5b;
    }
    .hover-email:hover {
    color: #ff6f5b;
    }

    /* Border rouge à gauche du logo */
    .logo-border {
    position: relative;
    padding-left: 0.5rem; /* espace entre le border et le texte */
    color: #333; 
    text-decoration: none;
    transition: color 0.3s;
    }

    .logo-border::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    height: 60%;
    width: 7px; /* épaisseur de la ligne */
    background-color: #ff6f5b; 
    }

    /* ! i just want to fix the hover for dropdown ite */
    /* .dropdown-menu > .dropdown-item:hover{
        color: #ff6f5b;

    } */
    /* DROPDOWN ITEMS */
    .dropdown-item:hover {
    color: #5bff61;
    }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}





/*  &section of client  */
.clients-section{
        text-align: center;
}


.images-box   > img{
    width: 10vw;
    height: 10vh;

}

.images-box > img{
    color: #333;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    filter: grayscale(100);

}

.images-box > img:hover{
    filter: none;
    opacity: 1;
}



/* & the end of section of client  */
/* this is section carousel home */
.carousel{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#picture{
    width: 100VW;
    height: 450px;
    transform: scale();
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255, 0.5);
    z-index: 1;
}
.carousel-button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color:#e96b56;
    z-index:2 ;
}
.carousel-button a{
    color:white;
    text-decoration: none;
}
.carousel-caption{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.carousel-caption h2{
    padding-bottom: 30px;
    color: #545454;
}
.carousel-caption p{
    color: #54545475;
    padding-bottom: 20px;
    width: 700px;
}
.carousel-control-prev{
    color: coral;
}
/* fin section carousel */
/* footer */
.footer{
    width: 100vw;
    height: 200vh;
}
