*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
/* this is section carousel home */
.carousel{
    width: 99vw;
    height: 500px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#picture{
    width: 100VW;
    height: 450px;
    transform: scale();
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255,255, 0.5);
    z-index: 1;
}
.carousel-button{
    width: 140px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color:#e96b56;
    z-index:2 ;
}
.carousel-button a{
    color:white;
    text-decoration: none;
}
.carousel-caption{
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.carousel-caption h2{
    padding-bottom: 30px;
    color: #545454;
}
.carousel-caption p{
    color: #54545475;
    padding-bottom: 20px;
    width: 700px;
}
.carousel-control-prev{
   color: coral;
}
/* fin section carousel */
/* footer */
.footer{
    width: 99vw;
    height: 100vh;
}
.footer-top{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464646;
}
.footer-input{
    width: 700px;
      position: relative;
      padding-top: 10px;
}
.footer-input:hover button{
    background-color:#e96b56 ;  
    border-color: #e96b56;
}
.input:focus{
    outline: none;
    border-color: #e96b56;
    color: aliceblue;
    padding-left: 20px;
}
.footer-input input{
    width: 90%;
    height: 40px;
    /* border: none; */
    border-radius: 20px;
    border-color: rgba(128, 128, 128, 0.011);
    background-color: #565656;
}
.footer-input button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #fd7e14;
    color: rgb(255, 255, 255);
    position: absolute;
    right:0px;
}
.footer-top p{
    color: #ffffffe1;
    width: 550px;
    text-align-last:center ;
}
.footer-top h2{
    color:white ;
    padding-bottom: 10px;
}
.footer-bottom{
    width: 100%;
    height: 70%;
    background-color:#3C3C3C;
}
.top-div{
    display: grid;
    grid-template-columns: 1fr 200px 200px 1fr;
    justify-content: center;
    height: 80%;
    padding-top: 25px;
}
.top-div a{
    text-decoration: none;
    color:#ffffffb9;
}
.top-div h4{
    color: #ffffffe0;
}
.left-info p{
    color: #ffffffcd;
}
.left-info h3{
    color: #ffffffdd;
}
.left-info{
    height: 350px;
    padding-top: 70px;
    padding-left: 50px;
}
.left-info p{
    width: 200px;
}
.left-info h3{
    padding-bottom: 30px;
}
.left-links{
height: 350px;
 display: grid;
   grid-template-rows:60px 40px 40px 40px 40px;
   padding-top: 30px;
}
.right-services{
height: 350px;
display: grid;
      grid-template-rows:60px 40px 40px 40px 40px;
      padding-top: 30px;

}
.right{
height: 350px;
padding-top: 30px;
}
.right p{
padding-top: 20px;
color: #FFFFFF;
}
.icon-f{
    display: flex;
    width: 40%;
    justify-content: space-evenly;  
    align-items: center;
}
.icon-f > div a{
    border: 2px #c7c2bf solid;
    border-radius: 50%;
}
.icon-f > div:hover a{
    color: #e96b56;
    border-color: #e96b56;

}.icon-f > div i{
    width: 40px;
    height: 40px;
}
.left-links ,.right-services > div i{
    color: #e96b56;
}
.left-links > div:hover a{
    color: #e96b56;
    transition: 1s ease;
}
.right-services > div:hover a{
    color: #e96b56;
        transition: 1s ease;
}
.copyright{
    width: 100%;
    height:20% ;
    background-color: #3C3C3C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border-top: 2px solid rgba(95, 94, 95, 0.612);
    
}
.copyright > p a{
    text-decoration: none;
    color: #e96b56;
}
  /* about page ---------------------------------------------------------------------------------------------------------------------------------------------------------
   */
.test-child > .left-child > div img{
    width: 70px;

   }
   .test-child > .right-child > div img{
    width: 70px;
   }
   .testimonials{
    width: 99vw;
    height: 150vh;
    background-color: #f9f6f5;
   }
   .test-top{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #545454;
    
   }
   .test-top p{
    padding-top: 10px;
    color: #545454;
   }
   .test-bottom{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
        justify-content: space-between;

   }
   .test-child{
    width: 80;
    height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-left: 100px;
   }
   .left-child{
    background-color: #FFFFFF;
    width: 50%;
    height: 80%;
    box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0,18);
    transform: translateY( 20px);
   }
   .right-child{
    width: 50%;
    height: 80%;
    background-color: #FFFFFF;
    transform: translateY(10px);
   }
   .parent-lf{
    display: flex;
    padding-left: 20px;
    align-items: center;
    transition: 1s;
   }
   .parent-lf img{
    border-radius: 50%;
   }
   .parent-rt{
    display: flex;
    padding-left: 20px;
    align-items: center;
    transition: 1s;
   }
   .parent-rt img{
    border-radius: 50%;
   }
   .rt-ch{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    
   }
   .p-b{
    padding-left: 10px;
   }
   
   .stars > span i{
    color:#FFC107;
   }
   .stars{
    padding-bottom: 30px;
    width: 200px;
    padding-left: 10px;
    
   }
   .rt-ch p{
    width: 160px;
    padding-bottom: px;
   }
   .after{
    border-bottom: 2px solid #e96b56;
    width: 50px;
    height: 10px;
   }
   /* team page-------------------------------------------------------------------------------------------------------------------------------------------------------- */
   .team-member {
  background: #fff;
  border-radius: 10px;
  transition: 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.team-member h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 600;
}

.team-member span {
  display: block;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.team-member p {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #444;
}

.team-member .social a {
  margin-right: 10px;
  color: #444;
  transition: 0.3s;
}

.team-member .social a:hover {
  color: #f44430;
}
   @media(max-width:425){
    #team{
        display: flex;
        flex-direction: column-reverse;
    }
   }

/* contact */
.section-contact{
    width: 99vw;
    height: 400px;
    background-color: #f6f3f2;
    flex-wrap: wrap;
}
.parent-contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.left-contact{
    background-color: #FFFFFF;
    width: 300px;
    
}
.parent-ct{
    height: 300px;
    display: flex;
    flex-direction: column;
    border: none;

}
.email-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.email-inputt{
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-inputt input{
    width: 400px;
    height: 50px;
}
.send{
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: #e84610;
    color: white;
    border: none;
    border-radius: 20px;
}
.send-bt{
    width: 50vwpx;
    display: flex;
    justify-content: center;
    /* padding-top: 100px; */
}
@media(max-width:425px){
    .footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-input input{
        width: 100px;
        
    }
   .footer-input{
    width: 200px;
   }
   .icon-f{
    position: absolute;
    left: 5px;
   }
}